<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>회원목록조회</title>
	</th:block>

	<th:block layout:fragment="customContents">
		<table  class="table table-bordered table-warning">
			<thead>
				<tr>
					<th>num </th>
					<th>로그인아이디</th>
					<th>로그인일자  </th>
					<th>로그아웃일자  </th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(loginHistoryList)} > 0" th:each="l ,st: ${loginHistoryList}">
					<td th:text="${st.count}"></td>
					<td th:text="${l.loginNum}"></td>
					<td th:text="${l.loginId}"></td>
					<td th:text="${l.loginDate}"></td>
					<td th:text="${l.logoutDate}"></td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="5" style="text-align : center">
						<a th:href="@{/loginHistory}">맨처음</a>
						<a th:if="${currentPage >1}"	th:href="@{/loginHistory(currentPage=${currentPage}-1)}">이전</a>
						<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
							<a th:if="${num !=currentPage}" th:href="@{/loginHistory(currentPage=${num})}">[[${num}]]</a>
							<span th:unless = "${num != currentPage}" th:text="${num}"></span>	
						</th:block>
						<a th:if="${currentPage <lastPage}" th:href="@{/loginHistory(currentPage=${currentPage}+1)}">다음</a>
						<a th:href="@{/loginHistory(currentPage=${lastPage})}">마지막</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</th:block>

</html>